.body{
    background: rgb(255, 237, 252);  
}
.navbar-toggler{
    border: none;
    outline: none;
    box-shadow: none;
}
.container1{
    background: rgb(255, 237, 252);
    display: flex; 
    justify-content: center;
    text-align: center;
}
.fa-bars{
    display:flex;
    justify-content: right;
    padding: 30px;
}
.profile{
    max-width: 320px;
}

.imagen{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    justify-content: center;
}

.titulos{
    justify-content:left;
    background: rgb(255, 237, 252);
}

.footer{
    justify-content: center;
    display:flex;
}
